@charset "utf-8";
h1 {
  font-size: 80px;
  background-size: 30px 10px;
}
p {
  font-family: "Lucida Console", "Courier New", monospace;
  text-align: right;
  color: white;
}

.container {
  display: flex;
}

img {
  width: 725px;
  height: 500px;
  padding-top: 100px;
}

video {
   float: right;
   margin: -7%;
}

.textbelowimg {
  float: left;
}
